#header-img {
  display: inline;
  margin: auto;
  width: 20%;
}
  
header {
  display: flex;
  background: white;
  color: white;
}
  
#nav-bar {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
}

@media (max-width: 500px) {
}

a {
  color: black;
}

a:hover {
  color: cyan;
}

body {
  background: linear-gradient(180deg, #990000, #cc0000, #ff0000, #ff3333, #ff0000, #cc0000, #990000);
  color: #00cccc;
  color: white;
}

#submit:hover {
  background: #00ffff
}

#button {
  text- align: center;
}

#form {
  text-align: center;
}

img {
  display: flex;
  width: 30%;
}

#image {
  height: 50%;
  display: flex;
}

#video-label {
  border: solid;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(45deg, #000000, #202020, #404040, #606060, #808080, #606060, #404040, #202020, #000000)
}

#redragon {
  color: white;
}

#takealot {
  color: white;
}

#incredible-connection {
  color: white;
}

#redragon:hover {
  color: cyan;
}

#takealot:hover {
  color: cyan;
}

#incredible-connection:hover {
  color: cyan;
}